.logo{
    width: 8vw;
    height: 3vw;
}

td.round-number{
    width: 2vw;
    height: 8vh;
    color: #FFCC01;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: middle;
}

td.pick-number,
td.pick-made{
    width: 8vw;
    height: 8vh;
    text-align: center;
}

td.pick-number{
    border:#FFCC01 1px solid;
}

td.pick-made{
    color: #222222
}

td.QB{
    background-color: #FAC898;
}
td.RB{
    background-color: #FDFD96;
}
td.WR{
    background-color: #A7C7E7;
}
td.TE{
    background-color: #C1E1C1;
}
td.PK{
    background-color: #F8C8DC;
}
td.Def{
    background-color: #D3D3D3;
}