.logo {
  width: 8vw;
  height: 3vw;
}

.round-number {
  width: 2vw;
  height: 8vh;
  color: #ffcc01;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: middle;
}

.pick-number,
td.pick-made {
  font-size: 12px;
  font-weight: bold;
  width: 8vw;
  height: 6vh;
  text-align: center;
}

.pick-number {
  border: #ffcc01 1px solid;
}

.pick-made {
  color: #000000;
}

.QB {
  background-color: #f7d2b0;
}
.RB {
  background-color: #f8f8b2;
}
.WR {
  background-color: #c0d2e4;
}
.TE {
  background-color: #c1e1c1;
}
.PK {
  background-color: #f8c8dc;
}
.Def {
  background-color: #d3d3d3;
}
