@import 'c/customCSS';

.full-height{
    height: 100px;
}

.pick, .bidding {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #222222;
}

.bidding {
    font-size: 22px;
}

.pick {
    font-size: 50px;
    background-color: #FFCC00;
}

.clock{
    color: #FFCC00;
}