:host {
    --slds-g-color-neutral-base-30: #dddddd;
    --slds-g-color-neutral-base-10: #222222;
}

.theme {
    color: var(--slds-g-color-neutral-base-30);
}

header {
    background-color: #222222;
}

.content {
    background-color: #222222;
}

footer {
    background-color: #222222;
}

.search {
    color: #222222;
}

.combo {
    color: #222222;
}