.profile {
  border: #ffffff 1px none;
  border-radius: 5px;
  color: #222222;
  margin: 2px;
  opacity: 60%;
}

img.photo {
  height: 110px;
  width: auto;
}

.QB {
  background-color: #fac898;
}
.RB {
  background-color: #fdfd96;
}
.WR {
  background-color: #a7c7e7;
}
.TE {
  background-color: #c1e1c1;
}
.PK {
  background-color: #f8c8dc;
}
.Def {
  background-color: #d3d3d3;
}

.active {
  opacity: 100%;
}
